<%= stylesheet_link_tag "post_show.css" %>

<div class="post-by-username-container">
  <div class="pst-user-container">
    <div class="upper-container">
      <div class="left-div">
        Post # &nbsp<%= @post.id %> &nbspby <%= @user.name %>
      </div>

      <div class="right-div">
        Comments: <%= @post.comments_counter %>,  Likes: <%= @post.likes_counter %>
      </div>
    </div>
    <div>
      <p class="posttext"><%= @post.text%></p>
    </div>

    <div class="leave-comment-container">
      <%= link_to "Leave a Comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id), class: "new-comment-button" %>
      <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id), class: "formz" do |form| %>
        <%= form.submit "Like post", class: "like-buttone" %>
      <% end %>
      <% if can? :destroy, @post %>
        <%= button_to "Delete post", user_post_path(@post.author.id, @post.id), method: :delete, class: "del-btn" %>
      <% end %>
    </div>
  </div>

  <div class="lower-container">
      <% @comments.each do |comment| %>
        <p><%= comment.author.name %> : <%= comment.text %></p>
        <% if can? :destroy, comment %>
          <%= button_to "Delete Comment", user_post_comment_path(user_id: comment.author.id, post_id: comment.post.id, id: comment.id), method: :delete, class: "del-btn" %>
        <% end %>
      <% end %>
  </div>
</div>
